* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.container {
    border: 1px solid #212121;
    width: 1440px;
    margin: auto;
}

.header {
    height: 80px;
}


.header-logo {
    width: 50px;
    height: 50px;
    padding-left: 160px;
    padding-top: 15px;
    float: left;
}

.header-brand {
    padding-top: 15px;
    font-size: 37px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 48px;
    color: #737373;
    float: left;

}

.header-menu {
    overflow: hidden;
    padding-left: 106px;
    padding-top: 31px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

}



.point-menu {
    padding-left: 36px;
    color: #525252;
    text-decoration: none;
    font-size: 14px;
}

.point-menu-promotion {
    padding-left: 58px;
    color: black;
    text-decoration: none;


}


/*
.list-menu a:nth-child(7) {
    background-image: url('img/promotion-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 162px;
    height: 67px;
    background-size: cover;
}
*/

.balance-body-block {
    width: 1440px;
    height: 725px;
    background: linear-gradient(180deg, #F795A4 0%, #ED6EA1 100%);
    position: relative;
}

.lotus-img {
    background: url(lotus-flower-black-and-white-png-big-image-png-2178.png);
    mix-blend-mode: soft-light;
    position: absolute;
    width: 800px;
    height: 456.19px;
    right: 0;
    bottom: 0;
}

.yoga-trener {
    position: absolute;
    width: 625px;
    height: 719.34px;
    right: 68px;
    top: 99px;

}
