* {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 1440px;
    margin: auto;
}

.header {
    height: 80px;
}

.header-logo {
    width: 50px;
    height: 50px;
    padding-left: 160px;
    padding-top: 15px;
    float: left;
}

.header-brand {
    padding-top: 15px;
    font-size: 37px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 48px;
    color: #737373;
    float: left;

}

.header-menu {
    overflow: hidden;
    padding-left: 106px;
    padding-top: 31px;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;

}

.header-menu li {
    display: inline;
    background-position: center;
    background-size: 10px;
}

.point-menu {
    padding-left: 36px;
    color: #525252;
    text-decoration: none;
    font-size: 14px;
}

.point-menu-promotion {
    padding-left: 58px;
    color: black;
    text-decoration: none;
    
    
}

/*
li:nth-child(7) {
    background-image: url('img/promotion-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 162px;
    height: 67px;
    background-size: cover;
}
*/
