* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1440px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family: PT Sans;
    color: #525252;
}

.header {
    height: 80px;
}


.header-logo {
    width: 50px;
    height: 50px;
    padding-left: 160px;
    padding-top: 15px;
    float: left;
}

.header-brand {
    padding-top: 15px;
    font-size: 37px;
    text-transform: uppercase;
    line-height: 48px;
    color: #737373;
    float: left;

}

.header-menu {
    overflow: hidden;
    padding-left: 106px;
    font-size: 14px;
    text-transform: uppercase;
    padding-top: 6px;
}


.point-menu-block {
    margin: 0 18px;
    text-align: center;
    display: inline-block;
    line-height: 70px;
    font-family: PT Sans;
}

.point-menu-block a {
    color: #525252;
    text-decoration: none;
}

.point-menu-block-promo {
    width: 162px;
    height: 67px;
    background-image: url(img/promotion-bg.png);
}

.point-menu-block-promo a {
    color: white;
}

.balance-body-block {
    width: 1440px;
    height: 725px;
    background: linear-gradient(180deg, #F795A4 0%, #ED6EA1 100%);
    position: relative;
}

.lotus-img {
    mix-blend-mode: soft-light;
    position: absolute;
    width: 800px;
    height: 456.19px;
    right: 0;
    bottom: 0;
}

.yoga-trener {
    position: absolute;
    width: 625px;
    height: 719.34px;
    right: 68px;
    top: 99px;

}

.intro-textcontent {
    width: 534px;
    margin: 250px 130px;
    text-align: center;
}

.intro-trendtext {
    font-size: 58px;
    line-height: 75px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.intro-textcontent p {
    margin-top: 25px;

    font-size: 20px;
    line-height: 26px;
}


.button-link {
    text-decoration: none;
    width: 168px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;

    font-size: 14px;
    line-height: 38px;
    color: #FFFFFF;
}

.main-button-link {
    margin-top: 50px;
    margin-right: 10px;
    background-color: #F17AA0;
    border: 2px solid #FFFFFF;
}

.second-button-link {
    background-color: #D7698E;
}

.button-link:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}

/* Why we do Yoga */

.whywedoyoga-block {
    height: 330px;
    padding: 100px 230px;
}

.whywedoyoga-h2 {
    font-size: 37px;
    line-height: 48px;
}

.whywedoyoga-desc {
    padding-top: 10px;
    font-size: 14px;
    line-height: 150%;
}

.whywedoyoga-reasons-block {
    padding-top: 50px;
}

.whywedoyoga-single-reason {
    display: inline-flex;
}

.whywedoyoga-single-reason:nth-child(2) {
    margin: 0 90px;
}

.whywedoyoga-reason-img-block {
    margin-right: 30px;
}

.whywedoyoga-single-reason-header {
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 5px;
}

.whywedoyoga-single-reason-desc {
    width: 180px;
    font-size: 14px;
    line-height: 21px;
}

.whywedoyoga-reasons-block-second-line {
    padding-top: 59px;
}

/* Inside our studio */

.insideourstudio-block {
    height: 627px;
    padding: 50px 230px;
}

.insideourstudio-gallery-block {
    margin-top: 50px;
}

.insideourstudio-gallery-single-img {
    display: flex;
    float: left;
    background-color: #3C3C3C;
    height: 206px;
    border-radius: 5px;
    position: relative;
}

.insideourstudio-gallery-single-img:nth-child(2n) {
    margin: 0 60px;
}

.insideourstudio-gallery-block-second-line {
    margin-top: 35px;
}

.insideourstudio-gallery-single-img-link img {
    border-radius: 5px;
}

.insideourstudio-gallery-single-img-link:hover img {
    opacity: .5;
}

.insideourstudio-gallery-single-img:hover .zoom-icon{
    display:block;
}

.zoom-icon {
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    top: 45%;
    left: 45%;
    background-image: url(img/icons8-zoom-in-1.png);
}

/* Follow us on Instagram */

.followusoninstagram-block {
    height: 1250px;
    padding: 50px 230px;
}

.instagram-logo {
    margin-top: 15px;
    width: 30px;
    height: 30px;
    border: 1px solid #525252;
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}

.instagtam-account {
    color: #525252;
    line-height: 58px;
}

.followusoninstagram-gallery-block {
    margin-top: 50px;
}

.followusoninstagram-gallery-single-img {
    display: flex;
    float: left;
    height: 299px;
    position: relative;
    background-color: #3C3C3C;
}

.followusoninstagram-gallery-single-img:first-child img{
    border-radius: 50px 0 0 0;
}

.followusoninstagram-gallery-single-img:last-child img{
    border-radius: 0 50px 0 0;
}

.followusoninstagram-gallery-single-img:nth-child(2n) {
    margin: 0 60px;
}

.followusoninstagram-gallery-block-second-line {
    margin-top: 35px;
}

.followusoninstagram-gallery-single-img-link img {
}

.followusoninstagram-gallery-single-img-link:hover img {
    opacity: .5;
}

.followusoninstagram-gallery-single-img:hover .zoom-icon{
    display:block;
}
